---
BasedOnStyle:                                           LLVM
ColumnLimit:                                            100
PointerAlignment:                                       Left
SpaceBeforeParens:                                      Never
AlwaysBreakTemplateDeclarations:                        true
...
