*.pyc
*.log
*.old
*.out
*.~
*~
*.user
*.project
.idea
*/unittest-tmp-dir/*

# Build directories
build.sh
build*
install*
buildenv*

# External projects
external/*
!external/gtest

# Shared library in source dir
src/serialbox-python/serialbox/*.so
src/serialbox-python/serialbox/*.dylib
src/serialbox-python/serialbox/*.dll

# Ignore gh-pages folder
gh-pages*
