#!/usr/bin/env bash
##===-------------------------------------------------------------------------------*- bash -*-===##
##
##                                   S E R I A L B O X
##
## This file is distributed under terms of BSD license. 
## See LICENSE.txt for more information.
##
##===------------------------------------------------------------------------------------------===##

dist: trusty
sudo: false
  
language: c++

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-precise
    packages:
      - g++-5
      - gcc-5
      - gfortran-5
      - g++-7
      - gcc-7
      - gfortran-7
      - g++-8
      - gcc-8
      - gfortran-8
      - clang-5.0

env:
  global:
    - SCRIPT_DIR=${TRAVIS_BUILD_DIR}/tools/travis
    - CACHE_DIR=${TRAVIS_BUILD_DIR}/deps/install
    - CMAKE_VERSION=3.8.1
    - BOOST_VERSION=1.60.0
    - PFUNIT_VERSION=3.2.7

jobs:
  include:
    - &prepare_cache_stage
      stage: Prepare Cache
      compiler: gcc
      os: linux
      env: CXX_COMPILER=g++-5 C_COMPILER=gcc-5 FC_COMPILER=gfortran-5
      script: bash ${SCRIPT_DIR}/driver-install.sh -i ${CACHE_DIR} -b cmake,boost,pfunit -c boost:filesystem,chrono,system,log

    - <<: *prepare_cache_stage
      compiler: clang
      os: linux
      env: CXX_COMPILER=clang++-5.0 C_COMPILER=clang-5.0

    # Linux GCC 5.4 (Release) [Linux]
    - &test_stage
      stage: Test
      compiler: gcc
      os: linux
      script: bash ${SCRIPT_DIR}/driver-test.sh
      env: CONFIG=Release CXX_COMPILER=g++-5 C_COMPILER=gcc-5 FC_COMPILER=gfortran-5
    
    # Linux GCC 5.4 (RelWithDebInfo) [Linux]
    - <<: *test_stage
      compiler: gcc
      env: CONFIG=RelWithDebInfo CXX_COMPILER=g++-5 C_COMPILER=gcc-5 FC_COMPILER=gfortran-5

    # Linux GCC 7 (Release) [Linux]
    - <<: *test_stage      
      compiler: gcc
      env: CONFIG=Release CXX_COMPILER=g++-7 C_COMPILER=gcc-7 FC_COMPILER=gfortran-7
    
    # Linux GCC 7 (RelWithDebInfo) [Linux]
    - <<: *test_stage      
      compiler: gcc
      env: CONFIG=RelWithDebInfo CXX_COMPILER=g++-7 C_COMPILER=gcc-7 FC_COMPILER=gfortran-7

    # Linux GCC 8 (Release) [Linux]
    - <<: *test_stage      
      compiler: gcc
      env: CONFIG=Release CXX_COMPILER=g++-8 C_COMPILER=gcc-8 FC_COMPILER=gfortran-8
    
    # Linux GCC 8 (RelWithDebInfo) [Linux]
    - <<: *test_stage      
      compiler: gcc
      env: CONFIG=RelWithDebInfo CXX_COMPILER=g++-8 C_COMPILER=gcc-8 FC_COMPILER=gfortran-8

    # Clang [Linux]
    - <<: *test_stage      
      compiler: clang
      env: CONFIG=Release CXX_COMPILER=clang++ C_COMPILER=clang

    # Clang (RelWithDebInfo) [Linux]
    - <<: *test_stage      
      compiler: clang
      env: CONFIG=RelWithDebInfo CXX_COMPILER=clang++-5.0 C_COMPILER=clang-5.0

    # # XCode 7.3 (Release) [OSX]
    # - <<: *test_stage  
    #   os: osx 
    #   osx_image: xcode7.3
    #   compiler: clang   
    #   env: CONFIG=Release

    # # XCode 7.3 (RelWithDebInfo) [OSX]
    # - <<: *test_stage
    #   os: osx 
    #   osx_image: xcode7.3
    #   compiler: clang    
    #   env: CONFIG=RelWithDebInfo

    # # XCode 8.0 (Release) [OSX]
    # - <<: *test_stage
    #   os: osx   
    #   osx_image: xcode8
    #   compiler: clang        
    #   env: CONFIG=Release

    # # XCode 8.0 (RelWithDebInfo) [OSX]
    # - <<: *test_stage 
    #   os: osx   
    #   osx_image: xcode8
    #   compiler: clang       
    #   env: CONFIG=RelWithDebInfo

cache:
  directories:
    - ${CACHE_DIR}/boost-${BOOST_VERSION}
    - ${CACHE_DIR}/boost-${PFUNIT_VERSION}

notifications:
  on_success: never
  on_failure: never