#!/usr/bin/env bash
##===-------------------------------------------------------------------------------*- bash -*-===##
##
##                                   S E R I A L B O X
##
## This file is distributed under terms of BSD license. 
## See LICENSE.txt for more information.
##
##===------------------------------------------------------------------------------------------===##

dist: trusty
sudo: false
  
language: c++

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-5
      - gcc-5
      - g++-6
      - gcc-6
      - clang-3.8
      - clang++-3.8

env:
  global:
    - SCRIPT_DIR=${TRAVIS_BUILD_DIR}/tools/travis
    - CACHE_DIR=${TRAVIS_BUILD_DIR}/deps/install
    - CMAKE_VERSION=3.8.1
    - BOOST_VERSION=1.60.0
    - PACKAGES_TO_INSTALL=cmake,boost

jobs:
  include:
    - &prepare_cache_stage
      stage: Prepare Cache
      compiler: gcc
      os: linux
      env: CXX_COMPILER=g++-5 C_COMPILER=gcc-5
      script: bash ${SCRIPT_DIR}/driver-install.sh -i ${CACHE_DIR} -b cmake,boost

    - <<: *prepare_cache_stage
      compiler: clang
      os: linux
      env: CXX_COMPILER=clang++-3.8 C_COMPILER=clang-3.8

    # Linux GCC 5.4 (Release) [Linux]
    - &test_stage
      stage: Test
      compiler: gcc
      os: linux
      script: bash ${SCRIPT_DIR}/driver-test.sh
      env: CONFIG=Release CXX_COMPILER=g++-5 C_COMPILER=gcc-5
    
    # Linux GCC 5.4 (RelWithDebInfo) [Linux]
    - <<: *test_stage
      compiler: gcc
      env: CONFIG=RelWithDebInfo CXX_COMPILER=g++-5 C_COMPILER=gcc-5

    # Linux GCC 6.3 (Release) [Linux]
    - <<: *test_stage      
      compiler: gcc
      env: CONFIG=Release CXX_COMPILER=g++-6 C_COMPILER=gcc-6
    
    # Linux GCC 6.3 (RelWithDebInfo) [Linux]
    - <<: *test_stage      
      compiler: gcc
      env: CONFIG=RelWithDebInfo CXX_COMPILER=g++-6 C_COMPILER=gcc-6

    # Clang 3.8 (Release) [Linux]
    - <<: *test_stage      
      compiler: clang
      env: CONFIG=Release CXX_COMPILER=clang++-3.8 C_COMPILER=clang-3.8

    # Clang 3.8 (RelWithDebInfo) [Linux]
    - <<: *test_stage      
      compiler: clang
      env: CONFIG=RelWithDebInfo CXX_COMPILER=clang++-3.8 C_COMPILER=clang-3.8

    # Clang 4.0 (Release) [Linux]
    - <<: *test_stage      
      compiler: clang
      env: CONFIG=Release CXX_COMPILER=clang++-3.8 C_COMPILER=clang-3.8 CLANG_VERSION=4.0.0

    # Clang 4.0 (RelWithDebInfo) [Linux]
    - <<: *test_stage      
      compiler: clang
      env: CONFIG=RelWithDebInfo CXX_COMPILER=clang++-3.8 C_COMPILER=clang-3.8 CLANG_VERSION=4.0.0

    # Clang 5.0 (Release) [Linux]
    - <<: *test_stage      
      compiler: clang
      env: CONFIG=Release CXX_COMPILER=clang++-3.8 C_COMPILER=clang-3.8 CLANG_VERSION=5.0.0

    # Clang 5.0 (RelWithDebInfo) [Linux]
    - <<: *test_stage      
      compiler: clang
      env: CONFIG=RelWithDebInfo CXX_COMPILER=clang++-3.8 C_COMPILER=clang-3.8 CLANG_VERSION=5.0.0

    # XCode 7.3 (Release) [OSX]
    - <<: *test_stage  
      os: osx 
      osx_image: xcode7.3
      compiler: clang   
      env: CONFIG=Release

    # XCode 7.3 (RelWithDebInfo) [OSX]
    - <<: *test_stage
      os: osx 
      osx_image: xcode7.3
      compiler: clang    
      env: CONFIG=RelWithDebInfo

    # XCode 8.0 (Release) [OSX]
    - <<: *test_stage
      os: osx   
      osx_image: xcode8
      compiler: clang        
      env: CONFIG=Release

    # XCode 8.0 (RelWithDebInfo) [OSX]
    - <<: *test_stage 
      os: osx   
      osx_image: xcode8
      compiler: clang       
      env: CONFIG=RelWithDebInfo

cache:
  directories:
    - ${CACHE_DIR}/boost-${BOOST_VERSION}

notifications:
  on_success: never
  on_failure: never